.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: linear-gradient(to top, red, yellow);
}

* {
    text-align: center;
}

p {
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}

h1 {
    font-weight: 1000;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-shadow: 2px 2px white;
    font-size: 70px;
    margin: 10px;
}

h2 {
    font-weight: 100;
    text-decoration: underline;
    text-shadow: 2px 2px white;
    font-size: 40px;
    margin: 10px;
}

img {
    border-radius: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.title {
    color: grey;
    font-size: 18px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;   
    margin: 20px auto; 
    background-color: rgb(127, 174, 255);
}


td,
th {
    border: 5px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

section {
    text-align: left;
    background-color: green;
    color: white;
}